[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = git@github.com:dmerejkowsky/vim-ale.git
[submodule "pack/plugins/start/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "pack/plugins/start/vim-hcl"]
	path = pack/plugins/start/vim-hcl
	url = git@github.com:jvirtanen/vim-hcl.git
[submodule "pack/plugins/start/vim-terraform"]
	path = pack/plugins/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
