[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/vim-hcl"]
	path = pack/plugins/start/vim-hcl
	url = https://github.com/jvirtanen/vim-hcl.git
[submodule "pack/plugins/start/vim-terraform"]
	path = pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "pack/plugins/start/vim-obsession"]
	path = pack/plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
